<h1>Characters</h1>
<%= link_to 'New Character(+)', new_house_character_path %>
<ul>
  <% @characters.each do |character| %>
  <li>
    <%= link_to character.name, [@character.house, @character] %>
  </li>
  <% end %>
</ul>
