body {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
.logo {
  float: left;
  margin: 10px;
}

.logo a {
  font-size: 1.8em;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a {
  color: white;
  display: inline-block;
  float: right;
  margin: 12px 8px;
  text-decoration: none;
  font-size: 1.2em;
}

header {
  background: #000033;
  height: 50px;
}
body.welcome {
  background: url('/images/castle.jpg');
}

.welcome h1 {
  text-align: center;
  margin-top: 20%;
}
