@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative);

body {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
h1 {
  font-family: 'Cinzel Decorative', cursive;
}

.logo {
  float: left;
  margin: 5px;
}

.logo a {
  font-size: 1.7em;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Cinzel Decorative', cursive;
}

nav a {
  color: white;
  display: inline-block;
  float: right;
  margin: 12px 8px;
  text-decoration: none;
  font-size: 1.2em;
}

header {
  background: #405372;
  height: 50px;
  border-bottom: 2px solid #374862;
}
.content {
  padding-top: 20px;
}

body.welcome {
  background: url('/images/castle.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.welcome h1 {
  text-align: center;
  margin-top: 25%;
  font-size: 3.5em;
  color: white;
  text-shadow: 2px 2px black;
}

.house-character {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

.house-character img {
    max-width: 300px;
  }

img.header-house {
  width: 100%;
}

.house-grid {
  max-width: 200px;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  text-align: center;
}
.house-grid img {
  max-width: 100%;
  display: block;
}

.flash {
  border: 1px solid black;
  padding: 1em;
  background: #eee;
}

.alert  { color: red;  }
.notice { color: blue; }
